.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart-container{
    background-color: turquoise;
    margin-left: -15px;
    
}
@media only screen and (max-width: 600px) {
    .shop-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cart-container{
        margin-left: -15px;
    }
}