.cart{
    position: sticky;
    top: 0;
    padding: 5px 15px;
}
.button-1{
    width: 75%;
    margin-bottom: 10px;
    
}
.button-2{
    width: 75%;
}
.text-center{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .cart{
        margin-left: -10px;
        
    }
}