.product img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
.product{
    width: 300px;
    height: 450px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px whitesmoke;
}
.product-name{
    font-size: 20px;
    margin-top: -40px;
}
.product-info{
    margin: 15px;
}
.btn-cart{
    width: 100%;
    background-color: darksalmon;
    border-radius: 0px 0px 8px 8px;
    border: none;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 600px) {
    .product img{
        width: 200px;
        height: 200px;
        border-radius: 8px;
    }
    .product{
        width: 200px;
        height: 400px;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        position: relative;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
  }