.header{
    height: 80px;
    background-color: #6da9d1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    color: white;
}
.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}
@media only screen and (max-width: 600px) {
    .header a{
        display: none ;
    }
}